@model graph_tutorial.Models.CalendarDetailsViewModel


@{
    ViewBag.Title = "Details";
}

<h2>Dagens Event - @ViewBag.Test</h2>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Organizer</th>
            <th scope="col">Subject</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Attendees</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Events)
        {
        <tr>
            <td>
                @item.Organizer
            </td>

            <td>
                @item.Subject
            </td>

            <td>
                @item.Start
            </td>

            <td>
                @item.End
            </td>

            <td>
                @foreach(var attendee in item.Attendees)
                {
                    @Html.ActionLink(attendee.EmailAddress.Name, "VisitDelve", new { mail = attendee.EmailAddress.Address})
                }
            </td>

        </tr>
        }
    </tbody>
</table>

<script>
    function visitDelve(user) {
         $.ajax({  
                type: "GET",  
                url: '@Url.Action("GetDelveUrl")',  
                data: user,  
                dataType: "json",  
                contentType: "application/json; charset=utf-8",  
                success: function (data) {  
                    alert(data);
                },  
            });  
    }
</script>

