
@model graph_tutorial.Models.Booking
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Home"))
{
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
    </div>


    <h5 style="font-family: Calibri">Person</h5>
    @Html.DropDownListFor(b => b.Person, new SelectList(ViewBag.Users,"Value", "Text",1), "Select Person...", new { @class = "form-control" })

    <br />
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
}