@model Microsoft.Graph.Message[]

@{
    ViewBag.Title = "Index";
}

<h2>Dina Mail</h2>
<a href="/Mail/Create" type="button" class="btn btn-primary">
    New Mail
</a>

<a href="/Mail/UnreadMessages" type="button" class="btn btn-primary">
    Unread Mail <span  class="badge badge-light">@ViewBag.unRead</span>
</a>

<br />
<table class="table table-dark table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">Subject</th>
            <th scope="col">Message</th>
            <th scope="col">Sender</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick='readMail("@item.Id")'>
                <td>
                    @item.Subject
                </td>
                <td>
                    @item.BodyPreview
                </td>
                <td>@item.Sender.EmailAddress.Address</td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-primary" })
                </td>

            </tr>
        }
    </tbody>
</table>


<script>
    function readMail(id) {
        window.location.href = '@Url.Action("Details","Mail")/' + id
    }
</script>


